.headerGroup {
    position: relative;
    height: 160px;
    background-color: #fff;
    border-bottom: 1px solid #e4e8eb;
}

.header {
    position: relative;
    width: 1130px;
    height: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

.logo {
    position: absolute;
    top: 50%;
    left: -9px;
    margin-top: -32px;
}

.searchArea {
    position: absolute;
    top: 50%;
    left: 268px;
    margin-top: -28px;
}

.searchBar {
    position: relative;
    width: 582px;
    height: 52px;
    border: 2px solid #19ce60;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.text {
    position: absolute;
    top: 12px;
    right: 27px;
    font-size: 12px;
    line-height: 16px;
    color: #202020;
}