.menuGroup {
    display: flex;
    justify-content: center;
}

.gnb {
    width: 1130px;
    display: flex;
    justify-content: space-between;
}

.item {
    height: 30px;
    color: #03c75a;
    font-size: 15px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: -.3px;
}